<head>
    <title>GDI Administrator</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="mobile-web-app-capable" content="yes">
    <link rel="stylesheet" href="../client/css/w3.css">
    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"> -->
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
</head>

<body class="w3-light-grey">
  
</body>
<template name="login">
    {{#if currentUser}}
        {{else}}
        <div class="w3-bar-block w3-container">
            <form><br><br>
            <div class="w3-row w3-margin-top">
                <div class="w3-col w3-center w3-margin-top" style="width:100px">
                <h6><label>ឈ្មោះ</label></h6>
                </div>
                <div class="w3-half w3-center">
                <input class="w3-input w3-round-large" id="user" type="text" style="width:80%" required>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col w3-center w3-margin-top" style="width:100px">
                <h6><label>លេខសម្ងាត់</label></h6>
                </div>
                <div class="w3-half w3-center">
                <input class="w3-input w3-round-large" id="pass" type="password" style="width:80%" required>
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-center w3-margin-top w3-col s2">
                </div>
                <div class="w3-col w3-center s4">
                <button class="w3-button w3-section w3-blue w3-ripple w3-round-large" id="signinbtn"> បញ្ចូលគណនី </button>
                </div>
            </div>
            </form>
        </div>
        {{/if}}
</template>

    <template name="signup">
    <div>
        {{#if currentUser}}
        {{else}}
        <div class="w3-bar-block w3-container"><br><br>
        <form>
            <div class="w3-row">
            <div class="w3-margin-top w3-col s1">
                <h6><label>តួនាទី</label></h6>
            </div>
            <div class="w3-col s11">
                <select id="tpos" name="txtpos" class="w3-section" style="width:40%; padding: 5px 0px;" required>
                <option value="អ្នករៀបចំកំណត់បង្ហាញ">អ្នករៀបចំកំណត់បង្ហាញ</option>
                <option value="ការិយាល័យចំណុះនាយកដ្ឋានរដ្ឋបាល">ការិយាល័យចំណុះ</option>
                <option value="នាយកដ្ឋានរដ្ឋបាល">នាយកដ្ឋានរដ្ឋបាល</option>
                <option value="អគ្គនាយករងទទួលជំនាញ">អគ្គនាយករងទទួលជំនាញ</option>
                <option value="អគ្គនាយករងទទួលជំនាញ">អគ្គនាយករងទទួលផែន</option>
                <option value="អគ្គនាយក">អគ្គនាយក</option>
                <option value="នាយកដ្ឋានជំនាញ">នាយកដ្ឋានជំនាញ</option>
                <option value="បញ្ជូនចេញរួចរាល់">បញ្ជូនចេញរួចរាល់</option>
                </select>
            </div>
            </div>
            <div class="w3-row">
            <div class="w3-margin-top w3-col s1">
                <h6><label>កំណត់សិទ្ធ</label></h6>
            </div>
            <div class="w3-col s11">
                <select id="tpermis" name="txtpermis" class="w3-section" style="width:40%; padding: 5px 0px;" required> 
                <option value="User">User</option>
                <option value="Manage">Manage</option>
                <option value="Admin">Admin</option>
                </select>
            </div>
            </div>
            <div class="w3-row">
            <div class="w3-margin-top w3-col s1">
                <h6><label>ការិយាល័យ</label></h6>
            </div>
            <div class="w3-col s11">
                <select id="toffice" name="txtoffice" class="w3-section" style="width:40%; padding: 5px 0px;" required>
                <option value="ប្រធាននាយកដ្ឋាន">ប្រធាននាយកដ្ឋាន</option>
                <option value="អនុនាយកដ្ឋាន">អនុនាយកដ្ឋាន</option>
                <option value="រដ្ឋបាល-សរុប">រដ្ឋបាល-សរុប</option>
                <option value="សរុប-ផែនការ">សរុប-ផែនការ</option>
                <option value="បុគ្គលិកនិងបណ្តុះបណ្តាល">បុគ្គលិកនិងបណ្តុះបណ្តាល</option>
                <option value="ភស្តុភារនិងគណនេយ្យ">ភស្តុភារនិងគណនេយ្យ</option>
                <option value="ផ្សព្វផ្សាយអប់រំ">ផ្សព្វផ្សាយអប់រំ</option>
                <option value="ស្រាវជ្រាវព័ត៌មាន">ស្រាវជ្រាវព័ត៌មាន</option>
                <option value="ឯកសារ">ឯកសារ</option>
                <option value="ជំនួយការ">ជំនួយការ</option>
                </select>
            </div>
            </div>
            <div class="w3-row">
            <div class="w3-margin-top w3-col s1">
                <h6><label>ឈ្មោះគណនី</label></h6>
            </div>
            <div class="w3-col s11">
                <input class="w3-input" id="name" type="text" style="width:90%" required>
            </div>
            </div>
            <div class="w3-row">
            <div class="w3-margin-top w3-col s1">
                <h6><label>អុីម៉ែន</label></h6>
            </div>
            <div class="w3-col s11">
                <input class="w3-input" id="user" type="text" style="width:90%" required>
            </div>
            </div>
            <div class="w3-row">
            <div class="w3-margin-top w3-col s1">
                <h6><label>លេខសម្ងាត់</label></h6>
            </div>
            <div class="w3-col s11">
                <input class="w3-input" id="pass" type="password" style="width:90%" required>
            </div>
            </div>
            <div class="w3-row">
            <div class="w3-center w3-margin-top w3-col s1">
            </div>
            <div class="w3-col w3-center s5">
                <button class="w3-button w3-section w3-green w3-ripple" id="signupbtn"> Sign Up </button>
            </div>
            </div>
        </form>
        </div>
        {{/if}} 
    </div>
</template>