body {
  padding: 10px 0px;
  font-family: 'Khmer', Arial, sans-serif;
}
@font-face {
  font-family: "Khmer";
  src: 
  url('/font/!KhmerOSSiemreap.EOT'),
  url('/font/KhmerOSsiemreap_0.EOT')
}
/* .col-25 {
  float: left;
  width: 15%;
  margin-top: 3px;
}

.col-75 {
  float: left;
  width: 85%;
  margin-top: 3px;
}

Clear floats after the columns
.row:after {
  content: "";
  display: table;
  clear: both;
} */

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

form {border: 3px solid #f1f1f1;}

input[type=text], input[type=password] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  box-sizing: border-box;
}
/* button {
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 50%;
}

button:hover {
  opacity: 0.8;
} */

span.psw {
  float: right;
  padding-top: 16px;
}

/* Change styles for span and cancel button on extra small screens */
/* @media screen and (max-width: 300px) {
  span.psw {
     display: block;
     float: none;
  }
  .cancelbtn {
     width: 100%;
  }
} */