<template name="index">
    <!-- !PAGE CONTENT! -->
    <div>
        <!-- Header --><!-- របាយការណ័ប្រចាំថ្ងៃ  -->
        <header class="w3-container" style="padding-top:25px">
        <h5> របាយការណ៍ប្រចាំថ្ងៃ <label>{{daily}}</label>
            <!-- <input type="date" id="tsearchdate" name="txtsearchdate" style="width:20%; margin-left: 1%;"> -->
        </h5>
        </header>
  
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-xlarge"></i></div>
                <div class="w3-right">
                    <h3>
                        {{dailydata}}
                    </h3>
                </div>
                <div class="w3-clear"></div>
                    <h4>ចំនួនឯកសារចូលប្រចាំថ្ងៃ</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-eye w3-xlarge"></i></div>
                <div class="w3-right">
                <h3>{{dailyBoss}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>ចំនួនឯកសារជូនអគ្គនាយករង</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fa fa-share-alt w3-xlarge"></i></div>
                <div class="w3-right">
                    <!-- <h3>{{dailyBigBoss}}</h3> -->
                    <h3>{{dailydepartment}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>ចំនួនឯកសារនៅនាយកដ្ឋាន</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xlarge"></i></div>
                <div class="w3-right">
                    <h3>{{dailyDone}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>ចំនួនឯកសារបញ្ជូនចេញ</h4>
                </div>
            </div>
        </div>    
        
        <!-- របាយការណ័ឯកសារបន្តចរន្ត  -->
        <header class="w3-container">
            <h5> ចំនួនឯកសារ</h5>
        </header>
        <div class="w3-row-padding w3-margin-bottom">
            <div class="w3-quarter">
                <div class="w3-container w3-red w3-padding-16">
                <div class="w3-left"><i class="fa fa-comment w3-xlarge"></i></div>
                <div class="w3-right">
                    <h3>{{DocstayAdmin}}</h3>
                </div>
                <div class="w3-clear"></div>
                    <h4>ចំនួនឯកសារស្ថិតនៅរដ្ឋបាល</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-blue w3-padding-16">
                <div class="w3-left"><i class="fa fa-eye w3-xlarge"></i></div>
                <div class="w3-right">
                <h3>{{DocstayBoss}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>ចំនួនឯកសារនៅអគ្គនាយករង</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-teal w3-padding-16">
                <div class="w3-left"><i class="fa fa-share-alt w3-xlarge"></i></div>
                <div class="w3-right">
                    <!-- <h3>{{DocstayBigBoss}}</h3> -->
                    <h3>{{DocstayDepartment}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>ចំនួនឯកសារនៅនាយកដ្ឋាន</h4>
                </div>
            </div>
            <div class="w3-quarter">
                <div class="w3-container w3-orange w3-text-white w3-padding-16">
                <div class="w3-left"><i class="fa fa-users w3-xlarge"></i></div>
                <div class="w3-right">
                    <h3>{{Docdone}}</h3>
                </div>
                <div class="w3-clear"></div>
                <h4>ចំនួនឯកសារបញ្ជូនចេញ</h4>
                </div>
            </div>
        </div>
        
        <!-- របាយការណ័ប្រចាំខែ  -->
        <div class="w3-panel">
            <div class="w3-row-padding" style="margin:0 -16px">
                <!-- <div class="w3-third">
                <h5>Regions</h5>
                <img src="/w3images/region.jpg" style="width:100%" alt="Google Regional Map">
                </div> -->
                <div class="w3-twothird">
                <h5>ចំនួនឯកសារប្រចាំខែ</h5>
                <table class="w3-table w3-striped w3-white">
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ A នាយកដ្ឋានចំណុះ</td>
                    <td><i>00{{MonthlyAdmin}}</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ A1 នាយកដ្ឋានចំណុះក្រសួង</td>
                    <td><i>00</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ B រាជធានី-ខេត្ត</td>
                    <td><i>00</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ C ស្ថាប័ន អង្គការ និងសមាគមន៍</td>
                    <td><i>00</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ D ស្ថាប័នផ្សេងៗ</td>
                    <td><i>00</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ E ឯកសារអត្រានុកូលដ្ឋាន</td>
                    <td><i>00</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ F ឯកសារសញ្ជាតិ</td>
                    <td><i>00</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ G លិខិតអញ្ជើញផ្សេងៗ</td>
                    <td><i>00</i></td>
                    </tr>
                    <tr>
                    <td><i class="fa fa-share-alt w3-text-green w3-large"></i></td>
                    <td>ប្រភេទ H កិច្ចការស្រាវជ្រាវ</td>
                    <td><i>00</i></td>
                    </tr>
                </table>
                </div>
            </div>
        </div>
        <br>
        <div class="w3-container w3-dark-grey w3-padding-32">
        <div class="w3-row​ w3-center">
            <h5 class="w3-border-green">របាយការណ៍បញ្ជូនឯកសារចេញ</h5> មកដល់ឆាប់ៗនេះ
        </div><br>     
        <div class="w3-row">
            <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-green">នាយកដ្ឋានចំណុះអគ្គនាយកដ្ឋាន</h5>
                <p>ឯកសារលេខ៖ កាលបរិច្ឆេទ៖ ចំនួន៖</p>
            </div>
            <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-red">នាយកដ្ឋានចំណុះក្រសួង</h5>
            <p>ឯកសារលេខ៖ កាលបរិច្ឆេទ៖ ចំនួន៖</p>
            </div>
            <div class="w3-container w3-third">
            <h5 class="w3-bottombar w3-border-orange">ស្ថាប័នផ្សេងៗ</h5>
                <!-- <p>Users</p>
                <p>Active</p>
                <p>Geo</p>
                <p>Interests</p> -->
            </div>
        </div>
        </div>
  
        <!-- Footer -->
        <footer class="w3-container w3-padding-16 w3-light-grey">
        <h4>ឆ្នាំ២០២០</h4>
        <p>រៀបចំដោយនាយកដ្ឋានរដ្ឋបាល សរុប</p>
        </footer>
    <!-- End page content -->
    </div>  
</template>