<template name="rundoc">
    <div class="w3-container">
        <form>
            <div class="w3-row w3-margin-top"><br>
                <div class="w3-col w3-margin-top" style="width:200px">
                    <label for="lruning">ផ្ញើជូន</label>
                </div>
                <div class="w3-half">
                    <select id="truning" name="txtruning" style="padding: 8px;">
                        <option value="អ្នករៀបចំកំណត់បង្ហាញ">អ្នករៀបចំកំណត់បង្ហាញ</option>
                        <option value="ការិយាល័យចំណុះនាយកដ្ឋានរដ្ឋបាល">ការិយាល័យចំណុះ</option>
                        <option value="នាយកដ្ឋានរដ្ឋបាល">នាយកដ្ឋានរដ្ឋបាល</option>
                        <option value="អគ្គនាយករងទទួលជំនាញ">អគ្គនាយករងទទួលជំនាញ</option>
                        <option value="អគ្គនាយករងទទួលជំនាញ">អគ្គនាយករងទទួលផែន</option>
                        <option value="អគ្គនាយក">អគ្គនាយក</option>
                        <option value="នាយកដ្ឋានជំនាញ">នាយកដ្ឋានជំនាញ</option>
                        <option value="បញ្ជូនចេញរួចរាល់">បញ្ជូនចេញរួចរាល់</option>
                    </select>
                </div>
            </div>
            &nbsp;
            <div class="w3-row">
                <div class="w3-col w3-margin-top " style="width:200px">
                    <label for="ldatesend">កាលបរិច្ឆេទបញ្ជូន</label>
                </div>
                <div class="w3-half">
                    <input type="date" id="tdatesend" name="txtdatesend" style="padding: 8px;">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col w3-margin-top" style="width:200px">
                    <label for="ldatesend">អ្នកទទួលឯកសារ</label>
                </div>
                <div class="w3-half">
                    <input type="text" id="treceive" name="txtreceive" style="padding: 10px;">
                </div>
            </div>
            <div class="w3-row">
                <div class="w3-col w3-margin-top" style="width:200px">
                    <label for="lnote">ចំណារថ្នាក់ដឹកនាំ</label>
                </div>
                <div class="w3-half">
                    <input type="text" id="tnote" name="txtnote" style="padding: 10px;">
                </div>
            </div>
        </form>
    </div>
    <div class="w3-container w3-responsive">
        <div class="w3-container w3-responsive" style="overflow-x:auto;">
            <div ><br />
            {{> tabular table=Ksp class="table table-all table-default table-striped table-bordered table-condensed"}}
            <!-- {{> tabular table=Ksp class="w3-table w3-table-all w3-table-default w3-table-striped w3-table-bordered w3-table-condensed"}} -->
            </div>
        </div>
    </div>
</template>