<template name="searchdoc">
    <div class="w3-container w3-responsive" style="overflow-x:auto;">
        <div ><br />
        {{> tabular table=Historys class="table table-all table-default table-striped table-bordered table-condensed"}}
        <!-- {{> tabular table=Ksp class="w3-table w3-table-all w3-table-default w3-table-striped w3-table-bordered w3-table-condensed"}} -->
        </div>
    </div>
    <!-- <div class="w3-container w3-responsive">
        <form>
            <div class="w3-row w3-margin-top w3-text-blue" style="text-align: center;"><br>
                <h1>ស្វែងរកឯកសារ</h1>
            </div><br>
        </form>
        <div class="w3-margin-top">
            <div class="w3-cell-row">
                <div class="w3-quarter w3-margin-top">
                    <button class="w3-button w3-section w3-left w3-round-large w3-blue w3-ripple" id="previousDatasearch" name="previousDatasearch"><i class="fa fa-arrow-left w3-xlarge"></i> Previous</button>
                </div>
                <div class="w3-quarter">
                    <input type="text" name="sSearch" id="sSearch" placeholder="ស្វែងរកលេខកូដ">
                </div>
                <div class="w3-quarter w3-margin-top">
                    
                </div>
                <div class="w3-quarter w3-margin-top">
                    <button class="w3-button w3-section w3-right w3-round-large w3-blue w3-ripple" id="nextDatasearch" name="nextDatasearch">Next <i class="fa fa-arrow-right w3-xlarge"></i></button>
                </div>
            </div>
        </div>
        <table class="w3-table-all w3-margin-top ">
          <thead>
              <tr class="w3-blue">
                  <th>លេខកូដឯកសារ</th>
                  <th>ឯកសារចូល</th>
                  <th>កាលបរិច្ឆេទឯកសារ</th>
                  <th>រៀបចំលិខិត</th>
                  <th>ខ្លឹមសារកម្មវត្ថុ</th>
                  <th>អ្នកបញ្ជូន</th>
                  <th>ស្ថិតនៅ</th>
                  <th>កាលបរិច្ឆេទទទួល</th>
                  <th>អ្នកទទួល</th>
                  <th>ចំណារថ្នាក់ដឹកនាំ</th>
                  <th>លុបទិន្នន័យ</th>
              </tr>
          </thead>
          <tbody id="myTable">
              {{#each historys}}
              <tr>
                  <td>{{txtcodedoc}}</td>
                  <td>{{txtdatein}}</td>
                  <td>{{txtdatedoc}}</td>
                  <td>{{txtcreate}}</td>
                  <td>{{txtdescription}}</td>
                  <td>{{txtsent}}</td>
                  <td>{{txtuser}}</td>
                  <td>{{txtdatesend}}</td>
                  <td>{{txtreceive}}</td>
                  <td>{{txtnote}}</td>
              </tr>
              {{/each}}
          </tbody>
        </table>
        <div class="w3-margin-top">
            <button class="w3-button w3-section w3-left w3-round-large w3-blue w3-ripple" id="previousDatasearch" name="previousDatasearch"><i class="fa fa-arrow-left w3-large"></i> Previous</button>
            <button class="w3-button w3-section w3-right w3-round-large w3-blue w3-ripple" id="nextDatasearch" name="nextDatasearch">Next <i class="fa fa-arrow-right w3-large"></i></button>
        </div>
    </div> -->
</template>